
#wrapper{
    width: 1366px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    #info, #poke{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    #poke{
        width: 70%;
    }
    #info{
        height:550px;
        width: 25%;
        border: red solid 10px;
        border-bottom-width: 40px;
        margin-left: 20px;
        position: fixed;
        top: 20px;
    }
    .grid-img{
        margin: 10px;
        width: 9%;
    }
    .box-img{
        width: 40%;
        margin: 0 auto;
    }
    h2{
        font-size: 24pt;
        font-weight: bolder;
    }
    h3{
        font-size: 18pt;
        font-weight: bold;
    }
    p, ul, h2, h3{
        margin: 20px;
    }
    li{
        list-style-type: disc;
        margin-left: 30px;
    }